@import "tailwindcss";

/* Load Poppins fonts from local assets and set as default */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Set default app font */
:root,
body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

@theme {
  --color-neutral-*: initial;
  --color-neutral-0: #ffffff;
  --color-neutral-100: #f7f3f0;
  --color-neutral-600: #6d5b4d;
  --color-neutral-900: #2e1401;
  --color-yellow-*: initial;
  --color-yellow-500: #f8cb46;
  --color-blue-*: initial;
  --color-blue-400: #92adeb;
  --color-blue-600: #5072c7;
  --color-teal-*: initial;
  --color-teal-400: #47d9c9;
  --color-pink-*: initial;
  --color-pink-400: #fc8ae5;
  --color-pink-500: #f073a3;
  --color-pink-700: #e11966;

  --text-preset-1: 2.5rem;
  --text-preset-1--line-height: 1.2;
  --text-preset-1--letter-spacing: 0px;

  --text-preset-1-tab: 2rem;
  --text-preset-1-tab--line-height: 1.2;
  --text-preset-1-tab--letter-spacing: 0px;

  --text-preset-1-mobile: 1.5rem;
  --text-preset-1-mobile--line-height: 1.2;
  --text-preset-1-mobile--letter-spacing: 0px;

  --text-preset-2: 1.5rem;
  --text-preset-2--line-height: 1.2;
  --text-preset-2--letter-spacing: 0px;

  --text-preset-3: 1.25rem;
  --text-preset-3--line-height: 1.2;
  --text-preset-3--letter-spacing: 0px;

  --text-preset-4: 1rem;
  --text-preset-4--line-height: 1.4;
  --text-preset-4--letter-spacing: 0px;

  --text-preset-5: 0.875rem;
  --text-preset-5--line-height: 1.4;
  --text-preset-5--letter-spacing: 0px;

  --text-preset-6: 0.75rem;
  --text-preset-6--line-height: 1.3;
  --text-preset-6--letter-spacing: 0px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
